@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    user-select: none;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: opacityIn 0.5s ease-in;

}

@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main-box {
    width: 100vw;
    height: 100vh;
    background: var(--background);
    opacity: 0;
    animation: opacityIn 0.5s ease-in;
}

#player {
    position: absolute;

    z-index: 9;
    background-color: var(--background);
    text-align: center;
    cursor: move;

    width: 15vw;
    height: 15vw;
    overflow: hidden;

    box-sizing: border-box;
    padding: 1vw;

    border-radius: 2vw;
    box-shadow: 0 0 5px var(--background);
    font-size: 1vw;
}


.player-bg {
    position: absolute;
    z-index: -1;
    bottom: -2px;
    height: 102%;
    width: 102%;
}

.player-info {
    text-align: center;
    margin-bottom: 20px;
}

.player-name {
    margin: 0;
}

.timeline {
    background: var(--foreground);
    cursor: pointer;
    height: 0.5vw;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--brown-light);
    position: absolute;
    top: 0;
    width: 0;
}

.player-controls {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.button-bg {
    border-radius: 100%;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    user-select: none;
    background: var(--foreground);
    transition: background-color 0.2s ease;
}

.control-button {
    width: 1.5vw;
    height: 1.5vw;
}

.play {
    transform: translateX(0.1vw);
}

.button-bg:hover {
    background: var(--foreground-dark);
}

.avatar, .minimize {
    overflow: hidden;
    border-radius: 100%;
    cursor: pointer;
    width: 3vw;
    height: 3vw;
    user-select: none;
}

.minimize {
    width: 2vw;
    height: 2vw;
}

.minimized-player {
    overflow: hidden;
    position: fixed;
    z-index: 10;
    border-radius: 100%;
    top: 2vh;
    right: 2vh;
    cursor: pointer;
    width: 6vh;
    height: 6vh;
    user-select: none;
    opacity: 0.3;
    background: dimgrey;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.minimized-player img {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    margin: auto;
}

#top-player {
    position: fixed;
    visibility: hidden;
}

@media (max-width: 1280px) {

    #player {
        visibility: hidden;
    }

    #top-player {
        z-index: 10;
        position: fixed;
        top: 0;
        visibility: visible;
        background: var(--background);
        padding: 2vh;
        box-sizing: border-box;
        overflow: visible;
    }

    #top-player .body {
        width: 50%;
    }

    #top-player .player-bg {
        position: absolute;
        top: 99%;
        width: 100%;
        height: auto;
    }

    .button-bg, .avatar {
        width: 6vh;
        height: 6vh;
    }

    .control-button {
        width: 2vh;
        height: 2vh;
    }

    .timeline {
        height: 1.5vh;
        margin-top: 1.5vh;
    }

    .player-name{
        font-size: 5vw;
    }
}
